<head>
  <meta charset="utf-8" />
  <title>PD_challenge</title>
  <!-- import plugin script -->
  <script src='static/Chart.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.0/Chart.min.js"></script>

<style>
.slideContainer {
    text-align: center;
    margin-top:10px;
    margin-left:50px;
    width:80%;
    background-color: powderblue;
    outline-style: double;
}
.buttonContainer {
    margin-top:10px;    
    text-align: center;
    width:100%;
    background-color:#3cb371;
    outline-style:     opacity: 0.9;
;
double}

body {
  background-color: linen;
}
</style>
</head>


<h1>PD_challenge</h1>
<body>

<canvas id="line-chart" width="700" height="450"></canvas>

<!--
nth value slider
-->
<div class="slideContainer" >
Steps  <input type="range" min="1" max="100" value="50" class="slider" id="nth"
oninput="nthOp.value = nth.value">
   <output  id="nthOp"></output>
</div>

<!--
start value slider
-->
<div class="slideContainer" >
 Start value <input type="range" min="1" max="17000" value="1" class="slider" id="startSlider"
oninput="startSliderOp.value = startSlider.value">
   <output  id="startSliderOp"></output>
</div>

<!--
end value slider
-->
<div class="slideContainer"  >
 End value <input type="range" min="17001" max="35180" value="35180" class="slider" id="endSlider"
oninput="endSliderOp.value = endSlider.value">
   <output  id="endSliderOp"></output>
</div>

<div class="buttonContainer">
<button onclick="updateChart()"> Update charts </button>
</div>
<script>

var time = [{% for item in time %}
             "{{item}}",
            {% endfor %}];  // convert the char to int while creating the data array

var temperature = [{% for item in temperature %}
             parseFloat("{{item}}"),
            {% endfor %}];  // convert the char to int while creating the data array

var consumption = [{% for item in consumption %}
             parseInt("{{item}}"),
            {% endfor %}];  // convert the char to int while creating the data array
//console.log("length of time : " + time.length + "dates :" + time);
//console.log("length of consumption : " + consumption.length +"consumption : " + consumption );
//console.log("length of temperature : " + temperature.length + "temperature :" + temperature);



var chart1 = new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: time,
    datasets: [{ 
        data: consumption,
        yAxisID: "CON",
        label: "consumption",
        borderColor: "#3e94cd",
        fill: false
      },
        { 
        data: temperature,
        yAxisID: "TEM",
        label: "Temperature",
        borderColor: "#8e5ea2",
        backgroundColor: "#8e5ea2",
        fillOpacity: .3,
        fill: true
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Consumption (in kW) vs Temperature (in Fahrenheit)'
    },
    scales: {
      yAxes: [{
        id: 'CON',
        type: 'linear',
        position: 'left',
      }, {
        id: 'TEM',
        type: 'linear',
        position: 'right',
        
      }]
    }
  }
});

// Function for updating start and end of chart
function updateChart(){
var nth = parseInt(document.getElementById("nth").value);
var startVal = parseInt(document.getElementById("startSlider").value);
var endValue = parseInt(document.getElementById("endSlider").value);
var arr = [];
var labs = [];
var temps = [];
for (var i = startVal; i < endValue; i=i+nth) {
  arr.push(consumption[i]);
    temps.push(temperature[i]);
    labs.push(time[i]);
}
console.log(arr);
chart1.data.datasets[0].data = arr;
chart1.data.datasets[1].data = temps;
chart1.data.labels = labs;
chart1.update();
};

</script>

</body>
