<head>
  <meta charset="utf-8" />
  <title>Chart.js Example</title>
  <!-- import plugin script -->
  <script src='static/Chart.min.js'></script>
	<!-- script src="https://d3js.org/d3.v5.min.js"></script-->
	<script src="https://d3js.org/d3.v4.js"></script>

	<script src="https://d3js.org/d3-time-format.v2.min.js"></script>
	<!--script src="https://d3js.org/d3.v3.min.js"></script --> 
</head>


<h1>Simple Line Chart</h1>

<script>
var parseDate = d3.timeParse("%a %m %d %H:%M:%S %Y");
var parseDate2 = d3.timeParse("%Y-%m-%d %H:%M:%S");

var time = [{% for item in time %}
             "{{item}}",
            {% endfor %}];  // convert the char to int while creating the data array
console.log("time "+time);
var labels = [{% for item in labels %}
             parseDate("{{item}}"),
            {% endfor %}];
var data = [{% for item in values %}
             parseInt("{{item}}"),
            {% endfor %}];  // convert the char to int while creating the data array
console.log("data : " + data + typeof data + " length of data : " + data.length);
console.log("dates :" + labels)
var maxdata = d3.max(data);
var mindata = d3.min(data);


//var parseTime = d3.timeParse("%B %d, %Y"); //Tue Jun 30 2015 00:00:00 GMT-0700 (Pacific Daylight Time)
var parseTime = d3.timeParse("%B %d, %Y");
var testTime = parseTime("June 30, 2015");
console.log("test"+testTime);

// set the dimensions and margins of the graph
console.log(" \n mindata : " + mindata + typeof data + " \n and maxdata : " + maxdata);

var margin = {top: 10, right: 30, bottom: 30, left: 40}, 
	width = 460 - margin.left - margin.right, 
	height = 400 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg = d3.select("body")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");
 // x axis
	var x = d3.scaleTime().range([0, width])
	var xAxis = d3.axisBottom(x);
 // y axis: scale and draw:
  var y = d3.scaleLinear()
      .domain([mindata, maxdata])
      .range([0, width]);
	var yAxis = d3.axisLeft(y);
  </script>


