<head>
  <meta charset="utf-8" />
  <title>Chart.js Example</title>
  <!-- import plugin script -->
  <script src='static/Chart.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.0/Chart.min.js"></script>
</head>


<h1>Chart.js Example</h1>
<body>

<canvas id="line-chart" width="700" height="450"></canvas>
<!--
nth value slider
-->
<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="nth"
oninput="nthOp.value = nth.value">
   <output  id="nthOp"></output>
</div>
<button onclick="updatenthChart()"> Update charts (updates number of values in chart)</button>

<!--
start value slider
-->
<div class="slidecontainer">
  <input type="range" min="1" max="17000" value="1" class="slider" id="startSlider"
oninput="startSliderOp.value = startSlider.value">
   <output  id="startSliderOp"></output>
</div>
<button onclick="updateStartChart()"> Update start and end of charts </button>

<!--
end value slider
-->
<div class="slidecontainer">
  <input type="range" min="17001" max="35180" value="35180" class="slider" id="endSlider"
oninput="endSliderOp.value = endSlider.value">
   <output  id="endSliderOp"></output>
</div>


<canvas id="line-chart2" width="650" height="450"></canvas>

<script>

var time = [{% for item in time %}
             "{{item}}",
            {% endfor %}];  // convert the char to int while creating the data array

var temperature = [{% for item in temperature %}
             parseFloat("{{item}}"),
            {% endfor %}];  // convert the char to int while creating the data array

var consumption = [{% for item in consumption %}
             parseInt("{{item}}"),
            {% endfor %}];  // convert the char to int while creating the data array
//console.log("length of time : " + time.length + "dates :" + time);
//console.log("length of consumption : " + consumption.length +"consumption : " + consumption );
//console.log("length of temperature : " + temperature.length + "temperature :" + temperature);



var chart1 = new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: time,
    datasets: [{ 
        data: consumption,
        label: "consumption",
        borderColor: "#3e94cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Consumption (in kW)'
    }
  }
});

var chart2 = new Chart(document.getElementById("line-chart2"), {
  type: 'line',
  data: {
    labels: time,
    datasets: [{ 
        data: temperature,
        label: "temperature",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Temperature (in Fahrenheit)'
    }
  }
});
// Function for nth update
function updatenthChart(){
var nth = parseInt(document.getElementById("nth").value);
var arr = [];
var labs = [];
var temps = [];
for (var i = 0; i < consumption.length; i=i+nth) {
  arr.push(consumption[i]);
    temps.push(temperature[i]);
    labs.push(time[i]);
}
console.log(arr);
chart1.data.datasets[0].data = arr;
chart2.data.datasets[0].data = temps;
chart1.data.labels = labs;
chart2.data.labels = labs;
chart1.update();
chart2.update();
};

// Function for updating start and end of chart
function updateStartChart(){
var nth = parseInt(document.getElementById("nth").value);
var startVal = parseInt(document.getElementById("startSlider").value);
var endValue = parseInt(document.getElementById("endSlider").value);
var arr = [];
var labs = [];
var temps = [];
for (var i = startVal; i < endValue; i=i+nth) {
  arr.push(consumption[i]);
    temps.push(temperature[i]);
    labs.push(time[i]);
}
console.log(arr);
chart1.data.datasets[0].data = arr;
chart2.data.datasets[0].data = temps;
chart1.data.labels = labs;
chart2.data.labels = labs;
chart1.update();
chart2.update();
};

</script>

</body>
