<head>
  <meta charset="utf-8" />
  <title>Chart.js Example</title>
  <!-- import plugin script -->
  <script src='static/Chart.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.0/Chart.min.js"></script>
</head>


<h1>Chart.js Example</h1>
<body>

<canvas id="line-chart" width="700" height="450"></canvas>
<canvas id="line-chart2" width="650" height="450"></canvas>

<script>

var time = [{% for item in time %}
             "{{item}}",
            {% endfor %}];  // convert the char to int while creating the data array

var temperature = [{% for item in temperature %}
             parseFloat("{{item}}"),
            {% endfor %}];  // convert the char to int while creating the data array

var consumption = [{% for item in consumption %}
             parseInt("{{item}}"),
            {% endfor %}];  // convert the char to int while creating the data array
console.log("length of time : " + time.length + "dates :" + time);
console.log("length of consumption : " + consumption.length +"consumption : " + consumption );
console.log("length of temperature : " + temperature.length + "temperature :" + temperature);

new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: time,
    datasets: [{ 
        data: consumption,
        label: "consumption",
        borderColor: "#3e94cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'World population per region (in millions)'
    }
  }
});

new Chart(document.getElementById("line-chart2"), {
  type: 'line',
  data: {
    labels: time,
    datasets: [{ 
        data: temperature,
        label: "temperature",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'World population per region (in millions)'
    }
  }
});
</script>

</body>
