<head>
  <meta charset="utf-8" />
  <title>Chart.js Example</title>
  <!-- import plugin script -->
  <script src='static/Chart.min.js'></script>
	<!-- script src="https://d3js.org/d3.v5.min.js"></script-->
	<script src="https://d3js.org/d3.v3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<!--script src="https://d3js.org/d3.v3.min.js"></script --> 
</head>


<h1>Simple histogram</h1>

<div id="chart1"> </div>
<div id="chart2"> </div>
<div id="chart3"> </div>

<script>

var color = "steelblue";


var labels = [{% for item in labels %}
             "{{item}}",
            {% endfor %}];  // convert the char to int while creating the data array


var data = [{% for item in values %}
             parseInt("{{item}}"),
            {% endfor %}];  // convert the char to int while creating the data array
var data2 = [{% for item in values2 %}
             parseInt("{{item}}"),
            {% endfor %}];  // convert the char to int while creating the data array

console.log("labels : "+ labels +" data : " + data + " data2 : "+ data2);
d3.csv("/data.csv", function (error, data) {

  //if (error) throw error;
    console.log(error);
    console.log(data);
//  x.domain(d3.extent(data, function(d) { return d.time; }));
//  y.domain([0, d3.max(data, function (d) { return d.out_door_temp; })]);

});

</script>
