<head>
  <meta charset="utf-8" />
  <title>Chart.js Example</title>
  <!-- import plugin script -->
  <script src='static/Chart.min.js'></script>
	<!-- script src="https://d3js.org/d3.v5.min.js"></script-->
	<script src="https://d3js.org/d3.v4.js"></script>
	<!--script src="https://d3js.org/d3.v3.min.js"></script --> 
</head>


<h1>Simple Line Chart</h1>
<div id="chart1"> </div>
<div id="chart2"> </div>
<script>
var consumption = [{% for item in consumption %}
             "{{item}}",
            {% endfor %}];  // convert the char to int while creating the data array

var temperature = [{% for item in temperature %}
             "{{item}}",
            {% endfor %}];  // convert the char to int while creating the data array

var time = [{% for item in time %}
             "{{item}}",
            {% endfor %}];  // convert the char to int while creating the data array

console.log(consumption)
var labels = [{% for item in labels %}
             "{{item}}",
            {% endfor %}];  // convert the char to int while creating the data array


var data = [{% for item in values %}
             parseInt("{{item}}"),
            {% endfor %}];  // convert the char to int while creating the data array
var data2 = [{% for item in values2 %}
             parseInt("{{item}}"),
            {% endfor %}];  // convert the char to int while creating the data array

console.log("labels : "+ labels +" data : " + data + " data2 : "+ data2);
var parseTime = d3.timeParse("%d-%b-%y");
var margin = {top: 10, right: 30, bottom: 30, left: 60},
    width = 460 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg = d3.select("#chart1")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");
console.log(data);

var x = d3.scaleLinear()
      .domain([0, d3.max(data, function(d) { return d; })])
      .range([ 0,height ]);
    svg.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));
    // Add Y axis
    var y = d3.scaleLinear()
      .domain([0, d3.max(data, function(d) { return d; })])
      .range([ height,0 ]);
    svg.append("g")
      .call(d3.axisLeft(y));

    // Add the line
    svg.append("path")
      .datum(data)
      .attr("fill", "none")
      .attr("stroke", "steelblue")
      .attr("stroke-width", 1.5)
      .attr("d", d3.line()
        .y(function(d , i) { return y(d) })
        .x(function(d, i) { return x(i) })
        )
	svg.append("path") // for the second line
      .datum(data2)
      .attr("fill", "none")
      .attr("stroke", "steelblue")
      .attr("stroke-width", 1.5)
      .attr("d", d3.line()
        .y(function(d , i) { return y(d) })
        .x(function(d, i) { return x(i) })
        )



// chart2
var svg2 = d3.select("#chart2")
  .append("svg2")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + height + ")");
var x = d3.scaleLinear()
      .domain([0, d3.max(consumption, function(d) { return d; })])
      .range([ 0,height ]);
    svg2.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x));
    // Add Y axis
    var y = d3.scaleLinear()
      .domain([0, d3.max(temperature, function(d) { return d; })])
      .range([ height,0 ]);
    svg2.append("g")
      .call(d3.axisLeft(y));

    // Add the line
    svg2.append("path")
      .datum(consumption)
      .attr("fill", "none")
      .attr("stroke", "steelblue")
      .attr("stroke-width", 1.5)
      .attr("d", d3.line()
        .y(function(d , i) { return y(d) })
        .x(function(d, i) { return x(i) })
        )
	svg2.append("path")// for the second line
      .datum(temperature)
      .attr("fill", "none")
      .attr("stroke", "steelblue")
      .attr("stroke-width", 1.5)
      .attr("d", d3.line()
        .y(function(d , i) { return y(d) })
        .x(function(d, i) { return x(i) })
        )

</script>
